
<ion-view hide-nav-bar="true" id="productRecommandPage">


    <div class=" scroll-content-y background-color-eeeff3" style="background:#F7F7F7;">
        <div class="row  row-no-padding home-product-bar">
            <div class="col-33 col-center text-center" ng-click="vm.clickTab1()"  style="width:33.333%">
                <div class="col-center"  style="margin:0 auto;">
                    <p><img src="../img/home/home_xejsd.png" class="home-product-bar-img"></p>
                    <span class="font-size-14 color-333333">小微极速贷</span>
                </div>
            </div>
            <div class="col-33 col-center text-center" ng-click="vm.clickTab2()"  style="width:33.333%;">
                <div class="col-center color-333333" style="margin:0 auto;">
                    <p><img src="../img/home/home_xykdh.png" class="home-product-bar-img"></p>
                    <span class="font-size-14">信用卡代还</span>
                </div>
            </div>
            <div class="col-33 col-center text-center" ng-click="vm.clickTab3()"  style="width:33.333%;">
                <div class="col-center"  style="margin:0 auto;">
                    <p><img src="../img/home/home_xyksq.png" class="home-product-bar-img"></p>
                    <span class="font-size-14 color-333333">信用卡申请</span>
                </div>
            </div>
        </div>

        <div class="row  row-no-padding home-product-smallamount">
            <div class="col-33 col-center text-center padding" ng-click="vm.clickTab1XE1()"  style="width:33.333%;">
                <div class="col-center"   style="margin:0 auto;">
                    <p><img src="../img/home/home_500.png" class="home-product-smallamount-img"></p>
                    <span class="font-size-14 color-666666">500-1000</span>
                </div>
            </div>

            <div class="col-33 col-center text-center padding" ng-click="vm.clickTab1XE2()"  style="width:33.333%">
                <div class="col-center"   style="margin:0 auto;">
                    <p><img src="../img/home/home_1000.png" class="home-product-smallamount-img"></p>
                    <span class="font-size-14 color-666666">1000-5000</span>
                </div>
            </div>

            <div class="col-33 col-center text-center padding" ng-click="vm.clickTab1XE3()"  style="width:33.333%">
                <div class="col-center"   style="margin:0 auto;">
                    <p><img src="../img/home/home_5000.png" class="home-product-smallamount-img"></p>
                    <span class="font-size-14 color-666666">5000+</span>
                </div>
            </div>
        </div>
        <div >

            <!--<ion-slide-box-->
                <!--class="home-ads-slide"-->
                <!--auto-play="true" does-continue="true" slide-interva="1000">-->
                <!--<ion-slide class="home-ads-slide" ng-repeat=" item in vm.adsImages">-->
                    <!--<div class="home-ads-image" ><img src="item.bannerPicUrl" class="home-ads-image" /></div>-->
                <!--</ion-slide>-->
            <!--</ion-slide-box>-->
             <img src="../img/home/ads_default.png" class="home-product-ads-img">

        </div>

        <ion-item class="home-product-banner-hot" >
            <img src="../img/home/home_hot.png" style="vertical-align: middle;">
            <span class="padding-left">热门借贷产品</span>
        </ion-item>


        <div>
            <ion-item class="item item-icon-right products-list-img-left" ng-repeat="item in vm.items track by $index" ng-click="vm.forwardProductDetail(item)">
                <!--<div class="multicolbox">
                    <div class="colitemwrap">
                        <div>
                            <img src="{{item.logoUrl}}" style="max-width:60px;max-height:60px;"/>
                        </div>
                    </div>
                    <div class="colitemstrech products-list-text-left">
                        <div>
                            <div>
                                <h2>{{item.prodName}}</h2>
                                <p>参考月费率:<span class="calm">{{item.monthRate|NumberDotFilter:2}}</span></p>
                                <p>成功率：
                                    <star-component rate="{{item.successRate}}"></star-component>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <i class="icon ion-ios-arrow-right"></i>-->

                <div class="multicolbox" >
					<div class="colitemwrap">
						<div>
							<img src="{{item.logoUrl}}" style="max-width:50px;max-height:50px;" />
						</div>
					</div>
					<div class="colitemstrech products-list-text-left">

						<p>
							<span class="font-size-14 color-333333">{{item.prodName}}</span>
							<span class="mainsearch-product-tag font-size-10" ng-repeat="producttag in item.prodTagBriefs">{{producttag.prodTypeName}}</span>
						</p>
                        <div class="row row-no-padding">
                            <div class="col-50">
                                <p class="colitemstrech font-size-14 product-item-loanlimit" >{{item.minLoanLimit}}~{{item.maxLoanLimit}}元</p>
                                <p><small class="colitemstrech font-size-12" ng-if="(item.prodCatg === '1')">参考月费率{{item.monthRate|NumberDotFilter:2}}</small>
                                <small class="colitemstrech font-size-12"  ng-if="!(item.prodCatg === '1')">参考日费率{{item.dayRate|NumberDotFilter:2}}</small>
                             </p>
                            </div>
                            <div class="col-50"style="margin-left: 1.1%;">
                                <!--<div style="display:inline-block;position:absolute;right:14px;">-->
                                <p><small class="colitemstrech font-size-12" >最快放款时间<span class="product-item-loanputtime" >{{item.putMoneyTime}}</span>{{item.putMoneyTimeUnit}}</small></p>
                                <p><small class="colitemstrech font-size-12" >借款期限{{item.minLoanPeriod}}~{{item.maxLoanPeriod}}{{item.periodUnit}}</small>
                                </p>
                                <!--</div>-->
                            </div>
                        </div>
					</div>
				</div>
            </ion-item>
            <!--<p class="item-divider products-list-introduce">{{item.prodDesc}}</p>-->
        </div>

    </div>


</ion-view>

