<ion-view hide-nav-bar="true" id="FirstPage">
    <div class="zhuce-banner">
        <img src="../img/zhuce/h5_bg.png" alt="">
    </div>
    <div class="list peson-message-box" style="">
        <div class="photo-phone">
            <img src="../img/download/h5_shouji.png" alt="">
        </div>

    </div>
    <div class=" commit-button  button-full commit box-center " ng-click="vm.godownload()">
        <a class="zhuce-border-radius box-center tjiaoanniu commit  " ng-if="vm.platformCode==2" id="img-mar-top" href="https://itunes.apple.com/us/app/jie-cai-tong-zi/id1193093779?mt=8&uo=4">立即下载(ios)</a>
        <a class="zhuce-border-radius box-center tjiaoanniu commit  " ng-if="vm.platformCode==1" id="img-mar-top" href="https://itunes.apple.com/us/app/jie-cai-tong-zi/id1193093779?mt=8&uo=4">立即下载(android)</a>
    </div>


    <!--<a ng-if="vm.platformCode==2" href="https://itunes.apple.com/us/app/jie-cai-tong-zi/id1193093779?mt=8&uo=4">-->
    <!--立即下载(ios) </a>-->

    <!--&lt;!&ndash;ng-if="vm.platformCode==1"&ndash;&gt;-->
    <!--&lt;!&ndash;废弃地址&ndash;&gt;-->
    <!--&lt;!&ndash;<a ng-if="vm.platformCode==1" href="https://www.pgyer.com/MiXB"> 立即下载(android) </a>&ndash;&gt;-->
    <!--&lt;!&ndash; 20170224日修改为tianjun正式地址&ndash;&gt;-->
    <!--<a ng-if="vm.platformCode==1" href="https://www.pgyer.com/v3w0"> 立即下载(android) </a>-->



    <div class=" peson-message-box tongyi-box " style="">


    </div>

</ion-view>