<h1>标题 :{{$ctrl.pconst}} ,{{$ctrl.title}}</h1>
<!--<div class="products-list" ng-repeat="item in vm.items ">
    <ion-item class="item item-icon-right products-list-img-left" ng-click="vm.forwardProductDetail(item)">
        <div class="multicolbox">
            <div class="colitemwrap">
                <div>
                    <img src="{{item.logoUrl}}" style="max-width:80px;max-height:80px;" />
                </div>
            </div>
            <div class="colitemstrech products-list-text-left">
                <div>
                    <div>
                        <h2>{{item.prodName}}</h2>
                        <p>参考月费率:<span class="calm">{{item.monthRate}}</span></p>
                        <p>成功率：{{item.successRate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#/productdetail"><i class="icon ion-ios-arrow-right"></i></a>
    </ion-item>
    <p class="item-divider products-list-introduce">{{item.prodDesc}}</p>
</div>-->
