<ion-view hide-nav-bar="true" id="FirstPage">


    <div class="" style="height:12.8889rem; width: 100%; background: white">


        <ion-slide-box
            auto-play="true"
            does-continue="true"
            slide-interva="1000"
            show-pager="false"
            class="clearfix"
            ng-if="vm.adsImages!=null&&vm.adsImages.length>0"
        >
            <ion-slide class="clearfix" ng-repeat=" item in vm.adsImages">
                <a href={{item.bannerPicHref}}>
                    <div class="box blue clearfix">
                        <div class=""><img class="box " style="width: 100%;height: 100%" src="{{item.bannerPicUrl}}" alt="">
                        </div>
                    </div>
                </a>
            </ion-slide>

        </ion-slide-box>


    </div>


    <ioc-content class="scroll-content" style="top:12.8889rem;">


        <div class="zou-ma-deng">

            <div class="laba">
                <img style="" src="./../img/first/laba.png" alt="">
            </div>

            <div class="zmd-box clearfix">

                <div class="data-box" id="data-box">

                    <div class="zmd-box-data fl" ng-repeat=" top10 in vm.items.msgList">{{top10.txt}}</div>
                    <div class="zmd-box-data "></div>


                </div>
            </div>


        </div>

        <div class="log-box ">
            <div class="log-box-1 row">

                <a class="col-25 col-center log-center" href="" ng-click="vm.Tab1()">
                    <img src="./../img/first/home_icon_jiekuan.png" alt="">
                    <div class="logo-title-fontsize">借款大全</div>
                </a>
                <a class="col-25 log-center" ng-click="vm.Tab2()">
                    <img class="block" src="./../img/first/home_icon_xiaoe.png" alt="">
                    <div class="logo-title-fontsize">小额极速贷</div>
                </a>
                <a class="col-25 log-center" ng-click="vm.Tab3()">
                    <img src="./../img/first/home_icon_dae.png" alt="">
                    <div class="logo-title-fontsize">大额贷款</div>
                </a>
                <a class="col-25 log-center" href="" ng-click="vm.Tab4()">
                    <img src="./../img/first/home_icon_gongjij.png" alt="">
                    <div class="logo-title-fontsize">公积金贷款</div>
                </a>
            </div>
            <div class="log-box-2 row">

                <a class="col-25 col-center log-center" href="" ng-click="vm.Tab5()">
                    <img src="./../img/first/zmxyd.png" alt="">
                    <div class="logo-title-fontsize">芝麻信用</div>
                </a>
                <a class="col-25 log-center" href="" ng-click="vm.Tab6()">
                    <img src="./../img/first/home_icon_xykh.png" alt="">
                    <div class="logo-title-fontsize">信用卡代还</div>
                </a>
                <a class="col-25 log-center" href="" ng-click="vm.Tab7()">
                    <img src="./../img/first/home_icon_fqd.png" alt="">
                    <div class="logo-title-fontsize">分期购物</div>
                </a>

                <a class="col-25 log-center" href="" ng-click="vm.Tab8()">
                    <img src="./../img/first/home_icon_blxyk.png" alt="">
                    <div class="logo-title-fontsize">办理信用卡</div>
                </a>

            </div>
        </div>

        <ion-list class="list">

        <ion-item class="daikuan-shop ">
                <div class="daikuan-shop-title log-center">
                    <img id="img-shop" src="./../img/first/listicon/market_icon.png" alt=""><span class="shop-size">贷款超市</span>
                </div >

                <div class="product-box clearfix">

                    <div class="product-left  fl "   ng-repeat="item in vm.productitems">
                        <div class="marg-top">
                            <div  class="product-top clearfix">
                                <img  class="fl log-url" src={{item.logoUrl}} alt="">

                                <ul class="fl right-margin">
                                    <li class="prodName">{{item.prodName}}</li>
                                    <li class="prodDesc"><span id="huanhang">{{item.prodDesc}}</span></li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>

            </ion-item>

        </ion-list>


    </ioc-content>

</ion-view>
