<!--排序页面-->
<ion-popover-view style="width:35%;height:auto;">
	<button class="button button-outline button-full mainsearch-sort-button" ng-click="vm.openAndClosePopover($event,'main.search.sort.html','','sort')">默认排序</button>
	<button class="button button-outline button-full mainsearch-sort-button" ng-click="vm.openAndClosePopover($event,'main.search.sort.html','successRate','sort')">借款成功率</button>
	<button class="button button-outline button-full mainsearch-sort-button" ng-click="vm.openAndClosePopover($event,'main.search.sort.html','loanMinute','sort')">借款速度</button>
	<button class="button button-outline button-full mainsearch-sort-button" ng-click="vm.openAndClosePopover($event,'main.search.sort.html','monthRate','sort')">借款利率</button>
	<button class="button button-outline button-full mainsearch-sort-button" ng-click="vm.openAndClosePopover($event,'main.search.sort.html','maxLoanLimit','sort')">借款额度</button>
</ion-popover-view>
