<ion-view view-title="ok test" >

    <ion-nav-buttons side="left">
        <button class="button" ng-click="doSomething()">
         A-btn
      </button>
        <button class="button" ng-click="doSomething()">
          action
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">

        <button class="button button-right" ng-click="doSomething()">
        confirm
      </button>
    </ion-nav-buttons>

    <ion-content>
        <div>
            OK test.html
        </div>
        <product-list-component></product-list-component>
    </ion-content>
</ion-view>
